$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*My CSS*/
.carousel .item {
  height: 100%;
}

body {
  background: url(/images/Xbackground.png) no-repeat, -webkit-linear-gradient(rgba(36, 34, 33, 1), rgba(65, 64, 64, 1)); /* For Safari 5.1 to 6.0 */
  background: url(/images/Xbackground.png) no-repeat, -o-linear-gradient(rgba(36, 34, 33, 1), rgba(65, 64, 64, 1)); /* For Opera 11.1 to 12.0 */
  background: url(/images/Xbackground.png) no-repeat, -moz-linear-gradient(rgba(36, 34, 33, 1), rgba(65, 64, 64, 1)); /* For Firefox 3.6 to 15 */
  background: url(/images/Xbackground.png) no-repeat, linear-gradient(rgba(36, 34, 33, 1), rgba(65, 64, 64, 1)); /* Standard syntax */
}

.nav a {
  color: white;
}

p {
  color: white;
}

.font-green {
  color: #b9d324;
}

#myCarousel {
  max-width: 900px;
  margin: 0 15% 0 15%;
}

#weAre {
  margin: 20px 0px 20px 0px;
}
#weAre h2 {
  background-color: white;
  opacity: 0.5;
}
#weAre .weAreMain {
  margin: 0% 5% 0% 5%;
}

#aboutX {
  background-color: #191716;
  padding: 25px;
}
#aboutX img {
  border: gray solid;
}